<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<meta name="Keywords" content="Church,Christian,Jesus,Baptist,South Oxhey,Watford,Hertfordshire">
	<meta name="description" content="South Oxhey Baptist Church - Friendly Bible-believing church in South Oxhey near Watford.">
	<style type="text/css" media="all">
		@import "/css/sobc.css";
	</style>
	<title>South Oxhey Baptist Church</title>
	<script language="javascript">
	sfHover = function() {
		var sfEls = document.getElementById("linkList2").getElementsByTagName("LI");
		for (var i=0; i<sfEls.length; i++) {
			sfEls[i].onmouseover=function() {
				this.className+=" sfhover";
			}
			sfEls[i].onmouseout=function() {
				this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
			}
		}
	} 
	if (window.attachEvent) window.attachEvent("onload", sfHover);
	</script>
	<script src="http://maps.google.co.uk/maps?file=api&v=2&key=ABQIAAAAOXRDObQXKO6TqkaeH1QD_hSxASmYSXfKd_MzuqJoMusPKVzvPRSSpzzVYz3Ai8q1idvrzSiPfI4EqQ" type="text/javascript">
	</script>
</head>

<body id="sobc">
<div id="container">
	<div id="top">
		<div id="short_pageHeader">
			<a href="/index.mhtml"><h1>South Oxhey<br>Baptist Church</h1></a>
			<h3>140 Gosforth Lane South Oxhey WD19 7BX: 0208 421 4054</h3>
		</div>
	</div>		
	<div id="supportingText">
			<!--START SEARCH RESULTS-->

<h2>Your search for <font color="#999999"><strong>'<!--cgi: query_str-->'</strong></font> did not produce any results.</h2> 

<!--cgi: ignored_terms-->
    
<p>Here are some suggestions to improve your search:</p>
<ul>
	<li>Select "Match ANY word"</li>
	<li>Make sure you spelled the words correctly</li>
</ul>

<form action="<!--cgi: search_url-->" method="get">
	<input type="hidden" name="p" value="1" />
	<input type="hidden" name="lang" value="<!--cgi: lang-->" />
	<input type="hidden" name="include" value="<!--cgi: include-->" />
	<input type="hidden" name="exclude" value="<!--cgi: exclude-->" />
	<input type="hidden" name="penalty" value="<!--cgi: penalty-->" />
	<input type="hidden" name="sort" value="<!--cgi: sort-->" />
	Search again:
	<select name="mode">
		<option value="all"<!--cgi: match_all-->>Match ALL words</option>
		<option value="any"<!--cgi: match_any-->>Match ANY word</option>
	</select>
	<input type="text" name="q" value="<!--cgi: query_str-->" />
	<input type="submit" value="Search" />
</form>

<script type="text/javascript" language="javascript1.1">
<!--
	if( document.forms[0].q ) {
		document.forms[0].q.focus();
		document.forms[0].q.select();
	}
// -->
</script>

<br />

<table border="0" cellpadding="2" cellspacing="0" bgcolor="#dddddd" width="100%">
<tr>
	<td>Latest search index update: <!--cgi: index_update--></td>
	<td align="right" style="font-size:60%;"><a href="http://perlfect.com/freescripts/search/">Perlfect Search 3.31 (c) Perlfect Solutions 1998-2003</td>
</tr>
</table>


<br />
			<!--END SEARCH RESULTS-->
		<div id="footer">  
			140 Gosforth Lane South Oxhey WD19 7BX: 0208 421 4054
		</div>
	</div>	
	<div id="short_linkList">
		<!--extra div for flexibility - this list will probably be the trickiest spot you'll deal with -->
		<div id="linkList2">

		<!-- If you're wondering about the extra &nbsp; at the end of the link, it's a hack to meet WCAG 1 Accessibility. -->
		<!-- I don't like having to do it, but this is a visual exercise. It's a compromise. -->
			<ul><li><a href="/index.mhtml" title="Home Page" accesskey="1">Home Page &#187</a></li></ul>
			<div id="sunday_links">
				<h3 class="sunday"><span>Sunday<br>Services:</span></h3>
				<!-- list of links begins here. There will be no more than 8 links per page -->
				<ul>
					<li><a href="/sundays/services.mhtml" title="Sundays: Worship Services" accesskey="a">Worship Services &#187</a>
					<li><a href="/sundays/first_sundays.mhtml" title="Sundays: First Sundays" accesskey="b">First Sundays &#187</a>
					<li><a href="/sundays/youth.mhtml" title="Sundays: Children and Youth" accesskey="c">Children and Youth &#187</a>
					<!--<li><a href="/sundays/youth.mhtml#creche" title="Sundays: Under 2's" accesskey="c">Creche</a>
					<li><a href="/sundays/youth.mhtml#sparklers" title="Sundays: Ages 2 to 5" accesskey="d">Ages 2 to 5</a>
					<li><a href="/sundays/youth.mhtml#g-team" title="Sundays: Ages 6 to 11" accesskey="e">Ages 6 to 11</a>
					<li><a href="/sundays/youth.mhtml#action-attack" title="Sundays: Ages 11 to 14" accesskey="f">Ages 11 to 14</a>
					<li><a href="/sundays/youth.mhtml#focus" title="Sundays: Ages 15 to young adult" accesskey="g">Ages 15 to 18+</a>-->
				</ul>
			</div>

			<div id="midweek_links">
				<h3 class="mid_week"><span>Mid-Week<br>Activities</span></h3>
				<ul>
					<li><a href="/midweek/rendezvous.mhtml" title="Older people" accesskey="h">Older People &#187</a>&nbsp;</li>
					<li><a href="/midweek/youth.mhtml" title="Youth group" accesskey="i">Youth Group &#187</a></li>
					<li><a href="/midweek/younger_children.mhtml" title="Younger Children" accesskey="j">Younger children &#187</a></li>
				</ul>
			</div>
			<div id="teaching_links">
				<h3 class="teaching"><span>Teaching</span></h3>
				<ul>
					<li><a href="/teaching/sundays.mhtml" title="On Sundays" accesskey="k">On Sundays &#187</a></li>
					<li><a href="/teaching/bible.mhtml" title="Bible teaching" accesskey="l">Bible &#187</a></li>
					<li><a href="/teaching/christian.mhtml" title="What is a Christan?" accesskey="m">What is a Christan? &#187</a></li>
				</ul>
			</div>
			<div id="about_links">
				<h3 class="about"><span>About Us<br>&nbsp;</span></h3>
				<ul>
					<li><a href="/about/more_about_us.mhtml" title="More about us" accesskey="n">More about us &#187</a>&nbsp;</li>
					<li><a href="/about/outreach.mhtml" title="Outreach" accesskey="n">Outreach &#187</a>&nbsp;</li>
					<li><a href="/about/building.mhtml" title="Building Project" accesskey="o">Building Project &#187</a>&nbsp;</li>
					<li><a href="/about/where.mhtml" title="Where are we?" accesskey="p">Where are we? &#187</a>&nbsp;</li>
				</ul>
			</div>
			<div id="search">
				<h3 class="search"><span>Search</span></h3>
				<form method="get" action="/cgi-bin/search/search.pl">
					<input type="hidden" name="p" value="1">
					<input type="hidden" name="lang" value="en">
					<input type="hidden" name="include" value="">
					<input type="hidden" name="exclude" value="">
					<input type="hidden" name="penalty" value="0">
					<select name="mode">
						<option value="all">Match ALL words</option>
						<option value="any">Match ANY word</option>
					</select>
					<input type="text" name="q"><input type="submit" value="Search">
				</form>
			</div>

		</div>
	</div>


</div>

<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->
<!-- Add a background image to each and use width and height to control sizing, place with absolute positioning -->
<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div><div id="extraDiv3"><span></span></div>
<div id="extraDiv4"><span></span></div><div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-2280402-1";
urchinTracker();
</script>
</body></html>