<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<meta name="Keywords" content="Church,Christian,Jesus,Baptist,South Oxhey,Watford,Hertfordshire">
	<meta name="description" content="South Oxhey Baptist Church - Friendly Bible-believing church in South Oxhey near Watford.">
	<style type="text/css" media="all">
		@import "/css/sobc.css";
	</style>
	<title>South Oxhey Baptist Church</title>
	<script language="javascript">
	sfHover = function() {
		var sfEls = document.getElementById("linkList2").getElementsByTagName("LI");
		for (var i=0; i<sfEls.length; i++) {
			sfEls[i].onmouseover=function() {
				this.className+=" sfhover";
			}
			sfEls[i].onmouseout=function() {
				this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
			}
		}
	} 
	if (window.attachEvent) window.attachEvent("onload", sfHover);
	</script>
	<script src="http://maps.google.co.uk/maps?file=api&v=2&key=ABQIAAAAOXRDObQXKO6TqkaeH1QD_hSxASmYSXfKd_MzuqJoMusPKVzvPRSSpzzVYz3Ai8q1idvrzSiPfI4EqQ" type="text/javascript">
	</script>

</head>


<body id="sobc">

<div id="container">
	<div id="top">
		<div id="short_pageHeader">
			<a href="/index.php"><h1>South Oxhey<br>Baptist Church</h1></a>
			<h3>140 Gosforth Lane South Oxhey WD19 7BX : 0208 421 4054 : <a HREF="mailto:&#105;&#110;&#102;&#111;&#064;&#115;&#111;&#117;&#116;&#104;&#111;&#120;&#104;&#101;&#121;&#098;&#097;&#112;&#116;&#105;&#115;&#116;&#099;&#104;&#117;&#114;&#099;&#104;&#046;&#111;&#114;&#103;&#046;&#117;&#107;">&#105;&#110;&#102;&#111;&#064;&#115;&#111;&#117;&#116;&#104;&#111;&#120;&#104;&#101;&#121;&#098;&#097;&#112;&#116;&#105;&#115;&#116;&#099;&#104;&#117;&#114;&#099;&#104;&#046;&#111;&#114;&#103;&#046;&#117;&#107;</a></h3>
		</div>
	</div>	

		<!--    LOGO DIV
		
		<a href="/index.php"><div id="logo">
			<p class="p1">&nbsp;</p>
		</div></a>-->
<!-- OLD URL CHECK  %if ($r->uri=~/\/cgi-bin\/mason_handler\.cgi\/index.php/) {-->
		


	<div id="supportingText">
		<div id="main_section">
		<!--START SEARCH RESULTS-->
		<h2>Search result</h2>

		<table border="0" cellpadding="2" cellspacing="0" bgcolor="#dddddd" width="100%">
		<tr>
			<td valign="top">Searched <!--cgi: baseurl--> for <strong><!--cgi: query_str--></strong></td>
			<td align="right">Results 
				<strong><!--cgi: first_number--> - <!--cgi: last_number--></strong> of <strong><!--cgi: results_num--></strong>,
				searched <!--cgi: docs_total--> documents <!--cgi: search_time--></td>
		</tr>
		</table>

		<!--cgi: ignored_terms-->

		<br />

		<dl>
			<!--loop: results-->
			<dt><!--item: rank-->. <a href="<!--item: url-->"><!--item: title--></a><br />
				<font size="-1"><!--item: description--></font><br />
				<font size="-1" color="#888888"><strong>URL:</strong> <!--item: visibleurl--> &nbsp; 
					<strong>Score:</strong> <!--item: score--> &nbsp; 
					<strong>Date:</strong> <!--item: date--> &nbsp;
					<strong>Size:</strong> <!--item: size--> kB</font>
				<br />
				<br />
			</dt>
			<!--end: results-->
		</dl>

		<br />

		<center>
			<span style="font-weight:bold;font-size:130%;"><!--cgi: previous--></span> [ <!--cgi: navbar--> ] <span style="font-weight:bold;font-size:130%;"><!--cgi: next--></span>
			<br /><br />
			<form action="<!--cgi: search_url-->" method="get">
				<input type="hidden" name="p" value="1" />
				<input type="hidden" name="lang" value="<!--cgi: lang-->" />
				<input type="hidden" name="include" value="<!--cgi: include-->" />
				<input type="hidden" name="exclude" value="<!--cgi: exclude-->" />
				<input type="hidden" name="penalty" value="<!--cgi: penalty-->" />
				<input type="hidden" name="sort" value="<!--cgi: sort-->" />
				Search again: 
				<select name="mode">
					<option value="all"<!--cgi: match_all-->>Match ALL words</option>
					<option value="any"<!--cgi: match_any-->>Match ANY word</option>
				</select>
				<input type="text" name="q" value="<!--cgi: query_str-->" />
				<input type="submit" value="Search" /><br /><br />
			</form>
		</center>

		<br />

		<table border="0" cellpadding="2" cellspacing="0" bgcolor="#dddddd" width="100%">
		<tr>
			<td>Page <!--cgi: current_page--> of <!--cgi: total_pages--></td>
			<td align="right" style="font-size:60%;"><a href="http://perlfect.com/freescripts/search/">Perlfect Search 3.31 (c) Perlfect Solutions 1998-2003</a></td>
		</tr>
		</table>

		<p>Latest search index update: <!--cgi: index_update--></p>

		<br />
		<!--END SEARCH RESULTS-->
		</div>
		<div id="footer">  
			140 Gosforth Lane South Oxhey WD19 7BX: 0208 421 4054: <a HREF="mailto:&#105;&#110;&#102;&#111;&#064;&#115;&#111;&#117;&#116;&#104;&#111;&#120;&#104;&#101;&#121;&#098;&#097;&#112;&#116;&#105;&#115;&#116;&#099;&#104;&#117;&#114;&#099;&#104;&#046;&#111;&#114;&#103;&#046;&#117;&#107;">&#105;&#110;&#102;&#111;&#064;&#115;&#111;&#117;&#116;&#104;&#111;&#120;&#104;&#101;&#121;&#098;&#097;&#112;&#116;&#105;&#115;&#116;&#099;&#104;&#117;&#114;&#099;&#104;&#046;&#111;&#114;&#103;&#046;&#117;&#107;</a>
		</div>
		</div>

		<div id="short_linkList">
		<!--extra div for flexibility - this list will probably be the trickiest spot you'll deal with -->
		<div id="linkList2">

		<!-- If you're wondering about the extra &nbsp; at the end of the link, it's a hack to meet WCAG 1 Accessibility. -->
		<!-- I don't like having to do it, but this is a visual exercise. It's a compromise. -->
			<ul><li><a href="/index.php" title="Home Page" accesskey="1">Home Page &#187;</a></li></ul>
			<div id="sunday_links">
				<h3 class="sunday"><span>Sunday<br>Services:</span></h3>
				<!-- list of links begins here. There will be no more than 8 links per page -->
				<ul>
					<li><a href="/php/test_site/sundays/services.php" title="Sundays: Worship Services" accesskey="a">Worship Services &#187;</a>
					<li><a href="/php/test_site/sundays/special_sundays.php" title="Sundays: Special Sundays" accesskey="b">Special Sundays &#187;</a>
					<li><a href="/php/test_site/sundays/youth.php" title="Sundays: Children and Youth" accesskey="c">Children and Youth &#187;</a>
					<!--<li><a href="/sundays/youth.php#creche" title="Sundays: Under 2's" accesskey="c">Creche</a>
					<li><a href="/sundays/youth.php#sparklers" title="Sundays: Ages 2 to 5" accesskey="d">Ages 2 to 5</a>
					<li><a href="/sundays/youth.php#g-team" title="Sundays: Ages 6 to 11" accesskey="e">Ages 6 to 11</a>
					<li><a href="/sundays/youth.php#action-attack" title="Sundays: Ages 11 to 14" accesskey="f">Ages 11 to 14</a>
					<li><a href="/sundays/youth.php#focus" title="Sundays: Ages 15 to young adult" accesskey="g">Ages 15 to 18+</a>-->
				</ul>
			</div>

			<div id="midweek_links">
				<h3 class="mid_week"><span>Mid-Week<br>Activities</span></h3>
				<ul>
					<li><a href="/php/test_site/midweek/rendezvous.php" title="Older people" accesskey="h">Older People &#187;</a>&nbsp;</li>
					<li><a href="/php/test_site/midweek/youth.php" title="Youth group" accesskey="i">Youth Group &#187;</a></li>
					<li><a href="/php/test_site/midweek/younger_children.php" title="Younger Children" accesskey="j">Younger children &#187;</a></li>
				</ul>
			</div>
			<div id="teaching_links">
				<h3 class="teaching"><span>Teaching</span></h3>
				<ul>
					<li><a href="/php/test_site/teaching/sundays.php" title="On Sundays" accesskey="k">On Sundays &#187;</a></li>
					<li><a href="/php/test_site/teaching/bible.php" title="Bible teaching" accesskey="l">Bible &#187;</a></li>
					<li><a href="/php/test_site/teaching/christian.php" title="What is a Christan?" accesskey="m">What is a Christan? &#187;</a></li>
				</ul>
			</div>
			<div id="about_links">
				<h3 class="about"><span>About Us<br>&nbsp;</span></h3>
				<ul>
					<li><a href="/php/test_site/about/more_about_us.php" title="More about us" accesskey="n">More about us &#187;</a>&nbsp;</li>
					<li><a href="/php/test_site/about/outreach.php" title="Outreach" accesskey="n">Outreach &#187;</a>&nbsp;</li>
					<li><a href="/php/test_site/about/building.php" title="Building Project" accesskey="o">Building Project &#187;</a>&nbsp;</li>
					<li><a href="/php/test_site/about/where.php" title="Where are we?" accesskey="p">Where are we? &#187;</a>&nbsp;</li>
				</ul>
			</div>
			<div id="search">
				<h3 class="search"><span>Search</span></h3>
				<form method="get" action="/cgi-bin/search_new/search.pl">
					<input type="hidden" name="p" value="1">
					<input type="hidden" name="lang" value="en">
					<input type="hidden" name="include" value="">
					<input type="hidden" name="exclude" value="">
					<input type="hidden" name="penalty" value="0">
					<select name="mode">
						<option value="all">Match ALL words</option>
						<option value="any">Match ANY word</option>
					</select>
					<input type="text" name="q"><input type="submit" value="Search">
				</form>
			</div>

		</div>
		</div>


		</div>

		<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->
		<!-- Add a background image to each and use width and height to control sizing, place with absolute positioning -->
		<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div><div id="extraDiv3"><span></span></div>
		<div id="extraDiv4"><span></span></div><div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>
		<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
		</script>
		<script type="text/javascript">
		_uacct = "UA-2280402-1";
		urchinTracker();
		</script>
	</body>
</html>